button {
  text-decoration: none;
  border: none;
  background-color: inherit;
}

body {
  font-family: "San Francisco Mono", sans-serif;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

main {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 10%;
  height: calc(100vh - 60px);
  width: 80%;
  min-width: fit-content;
}

#main-header {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: grey;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  background-color: grey;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
}

#timer {
  font-size: 7rem;
  text-decoration: double;
  position: absolute;
  top: 0;
}

#winner-announcement-div{
  position: absolute;
  display: None;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#winner-announcement {
  font-size: 5rem;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
  z-index: 3;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#buzzer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buzzer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: darkgray;
  padding: 1rem;
  width: min-content;
  height: min-content;
}

.buzzer {
  position: relative;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  z-index: 2;
}

#blu_buzzer {
  background-color: blue;
}

#red_buzzer {
  background-color: red;
}

#green_buzzer {
  background-color: green;
}

#yellow_buzzer {
  background-color: yellow;
}

#blu_buzzer:active {
  background-color: darkblue;
}

#red_buzzer:active {
  background-color: darkred;
}

#green_buzzer:active {
  background-color: darkgreen;
}

#yellow_buzzer:active {
  background-color: darkyellow;
}

#dark-arc {
  border: 35px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-left: none;
  border-top: none;
  filter: blur(10px);
}

#dark-arc::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#white-sphere {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  position: absolute;
  top: 15%;
  left: 10%;
  filter: blur(20px);
}

#buzzer-shadow {
  background-color: lightgray;
  width: 21rem;
  height: 21rem;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}

#start-button {
  background-color: green;
  z-index: 2;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-size: 2rem;
}

#start-button:active {
  background-color: darkgreen;
}

.referee-buttons {
  width: 15rem;
}

.button {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  padding: 1rem;
}

.button-blu {
  background-color: blue;
}

.button-blu:active {
  background-color: darkblue;
}

.button-green {
  background-color: green;
}

.button-green:active {
  background-color: darkgreen;
}

.button-yellow {
  background-color: yellow;
  color: black !important;
}

.button-yellow:active {
  background-color: orange;
}

.button-red {
  background-color: red;
}

.button-red:active {
  background-color: darkred;
}

.button-referee {
  background-color: darkgray;
}

.button-referee:active {
  background-color: grey;
}

#selector-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  gap: 1rem;
}

#selector-div > a {
  text-decoration: none;
}