{% extends "base.html" %}

{% block content %}
<header id="main-header">
    <h1>Bienvenue</h1>
  </header>
  <div id="winner-announcement-div">
    <span id="winner-announcement"></span>
  </div>
  <div id="main-content">
    <div id="timer">
      <span id="chrono-min">0</span>:<span id="chrono-sec">00</span>:<span
        id="chrono-millisec"
        >00</span
      >
    </div>

    <div id="selector-div"> 
      <a class="button button-red" href="/red_player">équipe rouge</a>
      <a class="button button-blu" href="/blu_player">équipe bleu</a>
      <a class="button button-green" href="/green_player">équipe verte</a>
      <a class="button button-yellow" href="/yellow_player">équipe jaune</a>
      <a class="button button-referee" href="/referee">Arbitre</a>
    </div>
  
  </div>
{% endblock %}
