{% extends "base.html" %}

{% block content %}
<header id="main-header">
    <h1>Bienvenue</h1>
  </header>
  <div id="winner-announcement-div">
    <span id="winner-announcement"></span>
  </div>
  <div id="main-content">
    <div id="timer">
      <span id="chrono-min">0</span>:<span id="chrono-sec">00</span>:<span
        id="chrono-millisec"
        >00</span
      >
    </div>

    <button class="referee-buttons" id="start-button" onmousedown="sendMsg('referee', 'start')">
      Start
    </button>
    <button class="referee-buttons" id="start-button" onmousedown="sendMsg('referee', 'stop')">
      Stop
    </button>
  </div>
{% endblock %}